<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">&#9752; La Belle Plante</a>
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="home" routerLinkActive="active" class="nav-link">Accueil</a>
                <a routerLink="details" routerLinkActive="active" class="nav-link">Details</a>
                <a class="nav-link">Panier</a>
                <a class="nav-link disabled">Plus d'option bientôt</a>
            </div>
        </div>
    </div>
</nav>