<div class="d-flex align-items-stretch">
    <app-filter-side-bar [listCategories]="list_categories"></app-filter-side-bar>

    <div class="custom-main container p-3">
        <input class="form-control" 
        type="text"
        placeholder="Recherche ta belle plante"
        aria-label="Input Recherche ta belle plante">

        <div class="py-3">
            Trier par :
            <button class="btn btn-outline-success btn-sm me-2">Prix</button>
            <button class="btn btn-outline-success btn-sm me-2">Ordre Alpha</button>
            <button class="btn btn-outline-success btn-sm me-2">Avis</button>
        </div>

        <app-card-plante></app-card-plante>
    </div>
</div>